doctype html
html(lang="es")
	head
		title Servicio de Administracion de Aeropuertos - SAA
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		//Bootstrap CSS
		link(href='/stylesheets/bootstrap.css', rel='stylesheet', media='screen')
		link(href='/stylesheets/dashboard.css', rel='stylesheet')
		link(href='/stylesheets/style.css', rel='stylesheet')
		link(href='/stylesheets/simplePagination.css', rel='stylesheet')
		link(type='text/css', href='/javascripts/datetimepicker/jquery.simple-dtpicker.css', rel='stylesheet')
		link(type='text/css', href='/javascripts/datetimepicker/jquery.simple-dtpicker.css', rel='stylesheet')
		link(type='text/css', href='/javascripts/timePicker/jquery.timepicker.css', rel='stylesheet')
		body
		.navbar.navbar-default.navbar-fixed-top(role="navigation")
			.container-fluid
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-
					target='.navbar-collapse')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='/') SAA
				.navbar-collapse.collapse
					ul.nav.navbar-nav
						li
							a(href='/adminPanel') Home
						li
							a(href='/aerolineas') Airlines
						li
							a(href='/aeropuertos') Airports
						li
							a(href='/aviones' ) Planes
						li
							a(href='/tipoAvion') Aircraft Models
						li
							a(href='/programaVuelos') Scheduled Flights
						li
							a(href='/vuelos') Flights 
						li
							a(href='/pasajeros') Passenger 
						li
							a(href='/gates') Gates
						li
							a(href='/ciudades') City 
						li
							a(href='/paises') Country 
						li
							a(href='/buscar') Search Flights
						li
							a(href='/estadisticas') ]Statistics
					ul.nav.navbar-nav.navbar-right
						li
							a(href='/logout') salir
		.container-fluid
			.row
				.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-1.main
					block entidad

	script(type='text/javascript', src='/javascripts/jquery.js')
	script(type='text/javascript', src='/javascripts/bootstrap.min.js')
	script(type='text/javascript', src='/javascripts/functions.js')
	script(type='text/javascript', src='/javascripts/jquery.autocomplete.min.js')
	script(type='text/javascript', src='/javascripts/jquery.searchable.js')
	script(type="text/javascript", src="/javascripts/jquery.simplePagination.js")
	script(type='text/javascript', src='/javascripts/datetimepicker/jquery.simple-dtpicker.js')
	script(type='text/javascript', src='/javascripts/timePicker/jquery.timepicker.js')
	script(type='text/javascript', src='/javascripts/Chart.min.js')
