extends admin

block entidad
	h1.page-header Aerolineas
	.page-header
		.botones
		button(id='btn_crear' type="button").btn.btn-success.btnaero Crear Nueva Aerolinea
		button(id='btn_cerrar' type="button" style='display:none;').btn.btn-danger.btnaerocerrar X
	.container.aero(style='display:none;')
		h3.titulo Crear Aerolinea
		form.form-horizontal(id='form-aerolinea', method='post', action='/aerolinea')
			.form-group.row
				label.col-sm-2.control-label ID
				.col-sm-10
					input.form-control(type='text', placeholder='ID' disabled)
					span.help-block ID autogenerado
			.form-group
				label.col-sm-2.control-label Nombre
				.col-sm-10
					input.form-control(type='text', placeholder='Nombre Aerolinea', class='input-aerolinea', name='nombre')
					span.help-block Nombre de la Aerolinea a Crear
			.form-group
				.col-sm-offset-2.col-sm-10
					button.btn.btn-primary.btn-lg.btn-block(type='submit') Enviar
	.container2
			h2.sub-header Listado de Aerolineas
			table.table.table-striped.table-bordered
				thead
					tr
						th ID
						th Nombre
				tbody
					- for (var i = 0; i < data.length; i++)
							tr
								td #{data[i].id}
								td #{data[i].nombre}
	script
		$( ".btnaero" ).click(function(){
		$( ".aero" ).show( 400 );
		$( ".btnaerocerrar" ).show( 400 );
		});
		$( ".btnaerocerrar" ).click(function(){
		$( ".aero" ).hide( 400 );
		$( ".btnaerocerrar" ).hide( 400 );
		});