extends admin

block entidad
	script(type="text/javascript").
	h1.page-header Aeropuertos
	.page-header
		.botones
			ul.nav.nav-tabs
				li
					a(href="/aeropuertos") Ver
				li
					a(href="/aeropuertos/crear") Crear
				li.active
					a(href="#") Modificar
				li
					a(href="#") Borrar	
	.container2
		h3.sub-header Modificar Aeropuerto
		form.form-horizontal(method='post', action='/aeropuertos/modificar')
			.form-group.row
				label.col-sm-2.control-label Code
				.col-sm-10
					input.form-control(type='text', placeholder='Code', name='code', value="#{data[0].code}")
			.form-group.row
				label.col-sm-2.control-label Name
				.col-sm-10
					input.form-control(type='text', placeholder='Name', name='name', value="#{data[0].name}")
			.form-group.row
				label.col-sm-2.control-label Coordinates
				.col-sm-10
					input.form-control(type='text', placeholder='Coordinates', name='coordinates', value="#{data[0].coordinates}")
			.form-group.row
				label.col-sm-2.control-label City ID
				.col-sm-10
					input.form-control(type='text', placeholder='City ID', name='city_id', value="#{data[0].city_id}")
			.form-group
				.col-sm-offset-2.col-sm-10
					button.btn.btn-primary.btn-lg.btn-block(type='submit') Enviar