extends admin

block entidad
	script(type="text/javascript")
	h1.page-header Aviones
	.page-header
		.botones
			ul.nav.nav-tabs
				li
					a(href="/aviones") Ver
				li.active
					a(href="/aviones/crear") Crear
				li
					a(href="#") Modificar
				li
					a(href="#") Borrar
	.container2
		h3.sub-header Crear Avion
		form.form-horizontal(method='post', action='/aviones')
			.form-group.row
				label.col-sm-2.control-label
				.col-sm-10
					input.form-control(type='text', placeholder='ID' disabled)
					span.help-block ID autogenerado
			.form-group.row
				label.col-sm-2.control-label Gasolina
				.col-sm-10
					input.form-control(type='text', placeholder='Tipo Gasolina', name='gasolina')
					span.help-block Octanage
			.form-group.row
				label.col-sm-2.control-label Aerolinea
				.col-sm-10
					select.from-control.selectFull(name='id_aerolinea')
						- for(var i=0; i< data.length; i++){
						option(value=data[i].ID) #{data[i].NOMBRE}
						- }
					span.help-block Id de la aerolinea del avion
			.form-group.row
				label.col-sm-2.control-label Piloto
				.col-sm-10
					input.form-control(type='text', placeholder='Nombre Piloto', name='piloto')
					span.help-block Nombre del piloto
			.form-group.row
				label.col-sm-2.control-label A単o
				.col-sm-10
					input.form-control(type='text', placeholder='A単o', 
					name='a単o')
					span.help-block A単o de fabricacion
			.form-group.row
				label.col-sm-2.control-label Tipo Avion
				.col-sm-10
					input.form-control(type='text', placeholder='Id tipo avion', name='id_tipo_avion')
					span.help-block Id del tipo de avion 
			.form-group
				.col-sm-offset-2.col-sm-10
					button.btn.btn-primary.btn-lg.btn-block(type='submit') Enviar