extends admin

block entidad
	h1.page-header#titulo Search Flights
	.container-fluid(align='center')
		.row
			.col-md-5.col-md-offset-3
				.panel.panel-primary
					.panel-heading
						h1.panel-title Search Flights
					.panel-bodyPanel#panel
						form.form-horizontal(method='post', action='/aerolineas', id='formulario')
							.form-group.row#idavuelta
								.col-md-5
									label.checkbox-inline
										input(type='checkbox',value=1)
										p One-way&nbsp;&nbsp;
									label.glyphicon.glyphicon-arrow-right
								.col-md-5
									label.checkbox-inline
										input(type='checkbox',value=2)
										p Return Trip&nbsp;&nbsp;
									label.glyphicon.glyphicon-retweet
							.form-group
								label.col-sm-2 From
								.col-sm-11
									input.form-control(type='text', placeholder='', name='name', required, maxlength='15')
							.form-group
								label.col-sm-2 To
								.col-sm-11
									input.form-control(type='text', placeholder='', name='acronym', required,maxlength='3')
							.form-group
								label.col-sm-5 Departure Date
								.col-sm-11
									input.form-control#fecha(type='date', placeholder='', name='departureDate', required)					
							.row(align='left')
								label.col-md-5 Adults
								.col-md-1
								label.col-md-5 Kids
							.form-group.row
								.col-sm-5
									select.form-control.selectFull(name='adults',required)
										- for(var i=0; i< 11; i++){
											option(value=i)= i
											- }  
								.col-md-1
								.col-md-5
									select.form-control.selectFull(name='kids',required)
										- for(var i=0; i< 11; i++){
											option(value=i)= i
											- }  
							.form-group									
								.col-md-11
									button.btn.btn-primary.btn-block(type='submit') Find Flights