extends admin

block entidad
	script(type="text/javascript").
	h1.page-header Citys
	.botones
		a.btn.btn-primary(type='button',href="/ciudades")
			span.glyphicon.glyphicon-chevron-left Back
	.container-fluid
		h3.sub-header Edit City
		form.form-horizontal(method='post', action='/ciudades')
			.form-group.row
				label.col-sm-2.control-label City Code
				.col-sm-8
					input.form-control(type='text',name='code',required,maxlength='3',value='#{data[0].CODE}',readonly)
			.form-group.row
				label.col-sm-2.control-label Name
				.col-sm-8
					input.form-control(type='text', name='name',required,maxlength='255',value='#{data[0].NAME}')
			.form-group.row
				label.col-sm-2.control-label Country
				.col-sm-8
					select.form-control.selectFull(name='c_code',required)
						- for(var i=0; i< data.length; i++){
						option(value=data[i].C_CODE) #{data[i].NAME}
						- }
			.form-group
				.col-sm-offset-2.col-sm-10
					button.btn.btn-primary.btn-lg(type='submit') Submit