//
   Created by Pablo on 15-04-14.

h1.page-header Contacto
.page-header
    form.form-horizontal(role='form')
        .form-group.row
            label.col-sm-2.control-label Correo
            .col-sm-6
                input.form-control(type='text', placeholder='Correo')
                span.help-block Ingrese su correo
        .form-group
            label.col-sm-2.control-label Pregunta
            .col-sm-6
                input.form-control(type='textarea', placeholder='Pregunta')
                span.help-block Ingrese su pregunta
        .form-group
            .col-sm-offset-2.col-sm-4
                button.btn.btn-primary.btn-lg.btn-block(type='submit') Enviar