extends admin

block entidad
	h1.page-header Gates
	.page-header
		.botones
			ul.nav.nav-tabs
				li.active
					a(href="/gates") Ver
				li
					a(href="/gates/crear") Crear
				li
					a.modificar(href="#") Modificar
				li
					a.borrar(href="#") Borrar
	.container2
			h2.sub-header Gates
			table.table.table-striped.table-bordered
				thead
					tr
						th Nombre
						th Estado
						th Editar
						th Eliminar
				tbody
					- for (var i = 0; i < data.length; i++)
							tr
								td #{data[i].name}
								td #{data[i].status}
								td(style='width:5px;')
									a(href="/gates/modificar/#{data[i].id}")
										span.glyphicon.glyphicon-pencil
								td(style='width:5px;')
									a(href="/gates/borrar/#{data[i].id}")
										span.glyphicon.glyphicon-trash