script.
		var path = window.location.pathname.split('/').pop()
		if(path == 'aerolineas')
			var headName = 'Airlines'
		if(path == 'aeropuertos')
			var headName = 'Airport'
		if(path == 'aviones')
			var headName = 'Airplane'
		if(path == 'programaVuelos')
			var headName = 'Scheduled Fligths'
		if(path == 'vuelos')
			var headName = 'Fligths'
		var path = path + '/crear'
		window.onload = function() {
		document.getElementById('new').href = path
		document.getElementById('titulo').innerHTML = headName
		}
h1.page-header#titulo
.botones
	ul.nav.nav-tabs
		li(id='tabhome').active
			a(href="/") Home
		li(id='tabnew')
			a(href='',id='new') New