doctype html
html(lang="es")
	head
		title Login - SAA
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		///Bootstrap CSS 
		link(href='stylesheets/bootstrap.css', rel='stylesheet', media='screen')
		link(href='stylesheets/dashboard.css', rel='stylesheet')
		link(href='stylesheets/style.css', rel='stylesheet')
		body
			.container
				form.form-signin(role='form' action='/login' method='post')
					h2.form-signin-heading Please sign in
					input.form-control(type='username', placeholder='Username', required='', autofocus='', name='username')
					input.form-control(type='password', placeholder='Password', required='' name='password')
					button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in	
	script(type='text/javascript', src='javascripts/jquery.js')
	script(type='text/javascript', src='javascripts/bootstrap.min.js')
	script(type='text/javascript', src='javascripts/functions.js')