doctype html
html(lang="es")
	head
		title Login - SAA
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		//Bootstrap CSS 
		link(href='stylesheets/bootstrap.css', rel='stylesheet', media='screen')
		link(href='stylesheets/dashboard.css', rel='stylesheet')
		link(href='stylesheets/style.css', rel='stylesheet')
		body

			.container.programa_vuelo(style='display:none;')
			h3.titulo Inicio de seccion SAA
			form.form-horizontal(method='post', action='/iniciar')

			
				.form-group.row
					label.col-sm-2.control-label User
					.col-sm-10
						input.form-control(type='text', placeholder='USER', name='password')
				.form-group.row
					label.col-sm-2.control-label Password
					.col-sm-10
						input.form-control(type='text', placeholder='PASSWORD', name='password')

	
