doctype
html(lang='en')
head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content='')
		meta(name='author', content='')
		link(href='stylesheets/bootstrap.css', rel='stylesheet', media='screen')
		link(href='stylesheets/login.css', rel='stylesheet')
		title Login
	body
		.container
			form.form-signin(role='form', method="post",  id="forma", action="/login")
				h2.form-signin-heading Porfavor Inicia Sesión
				input.form-control(type='text', placeholder='User', required='required', autofocus='autofocus')
				input.form-control(type='password', placeholder='Password', required='required')
				button.btn.btn-lg.btn-primary.btn-block(type='submit') Entrar