//listar pasajeros
button(id='btn_crear' type="button").btn.btn-primary Crear Nueva Aerolinea
button(id='btn_cerrar' type="button" style='display:none;').btn.btn-danger Cerrar
.container(style='display:none;')
	form.form-signin(role='form')
		h2.form-signin-heading Crear Nuevo Pasajero
		input.form-control(type='text', placeholder='ID', autofocus='autofocus')
		input.form-control(type='text', placeholder='Nombre', required)
		button.btn.btn-lg.btn-primary.btn-block(type='submit' value='') Enviar
.container2
		//button.btn.btn-primary(type) Crear Nueva Entidad
		h2.sub-header Listado de pasajeros
		.table-responsive
			table.table.table-striped
				thead
					tr
						th ID
						th Nombre
				tbody
					- for (var i = 0; i < 3; i++)
							tr
								td #{i+1}
								td LAX
								td LAN
script(type='text/javascript', src='javascripts/functions.js')								