doctype html
html(lang="es")

	script(type='text/javascript', src='/javascripts/sha256.js')
	head
		title Sistemas de Administracion de Aeropuertos - SAA
		link(href='/stylesheets/bootstrap.css', rel='stylesheet')
		link(href='/stylesheets/cover.css', rel='stylesheet')
	body
		.site-wrapper
			.site-wrapper-inner
				.cover-container
					.masthead.clearfix
						.inner
							h3.masthead-brand SAA
							ul.nav.masthead-nav
								li
									a(href='/') Sign In
								li.active
									a(href='/signup') Sign Up
								li
									a(href='/login') Admin
						.inner.cover
							.register(align='center')
								.container-fluid
									h3.sub-header Register
									form.form-horizontal(method='post', action='/signup', id='signupform')
										.form-group
											label.col-sm-2.control-label First Name
											.col-sm-8
												input.form-control(type='text', placeholder='Juan', name='fname', required,maxlength='15')
										.form-group
											label.col-sm-2.control-label Last Name
											.col-sm-8
												input.form-control(type='text', placeholder='Perez', name='lname', required,maxlength='15')
										.form-group
											label.col-sm-2.control-label PIN / ID
											.col-sm-8
												input.form-control(type='text', placeholder='12345689-0', name='pin', required,maxlength='15')
										.form-group
											label.col-sm-2.control-label Gender
											.col-md-2
												label.radio-inline
													input(type='radio', name='sex', value='M')
													p Male&nbsp;&nbsp;
											.col-md-2
												label.radio-inline
													input(type='radio', name='sex', value='F')
													p Female&nbsp;&nbsp;
										.form-group
											label.col-sm-2.control-label Birthday
											.col-sm-8
												input.form-control(type='date', placeholder='350', name='birthday', required)
										.form-group
											label.col-sm-2.control-label Country
											.col-sm-8
												select.form-control.selectFull(name='c_code',required)
													- for(var i=0; i< data.length; i++){
													option(value=data[i].CODE) #{data[i].NAME}
													- }
										.form-group
											label.col-sm-2.control-label Password
											.col-sm-8
												input.form-control(type='password', name='pazz1', required, minlength=6, maxlength='15', id='p1')
										.form-group
											label.col-sm-2.control-label Re-enter Password
											.col-sm-8
												input.form-control(type='password', name='pazz2', required, minlength=6, maxlength='15', id='p2')
										script(type='text/javascript').
											function ValidaYhashea(){
												if (document.getElementById("p1").value == document.getElementById("p2").value) {
													document.getElementById("p2").value = CryptoJS.SHA256(document.getElementById("p2").value);	
													document.getElementById("p1").value = CryptoJS.SHA256(document.getElementById("p1").value);
													document.getElementById("signupform").submit();
												}
												else{
													alert("Password missmatch!");
												}
											}
										.form-group
											.col-sm-offset-2.col-sm-10
												button.btn.btn-primary(onclick='ValidaYhashea()' ,align='center') Submit
							.mastfoot
							.inner
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
		script(type='text/javascript', src='/javascripts/bootstrap.min.js')
