h1.page-header#titulo Search Flights
	.container-fluid(align='center')
		.row
			.col-md-5.col-md-offset-3
				.panel.panel-primary
					.panel-heading
						h1.panel-title Search Flights
					.panel-bodyPanel
						form.form-horizontal(method='post', action='/', id='formulario')
							.form-group
								label.col-sm-2 From
								.col-sm-11
									input.form-control(type='text', placeholder='',id='from' ,name='name', required, maxlength='15')
							.form-group
								label.col-sm-2 To
								.col-sm-11
									input.form-control(type='text', placeholder='',id='to' ,name='acronym', required,maxlength='3')
							.form-group
								label.col-sm-5 Departure Date
								.col-sm-11
									input.form-control#fecha(type='date', placeholder='', name='departureDate', required)					
							.form-group									
								.col-md-11
									button.btn.btn-primary.btn-block(type='submit') Find Flights