doctype html
html(lang="es")
	head
		title Sistemas de Administracion de Aeropuertos - SAA
		link(href='/stylesheets/bootstrap.css', rel='stylesheet')
		link(href='/stylesheets/cover.css', rel='stylesheet')
	body
		.site-wrapper
			.site-wrapper-inner
				.cover-container
					.masthead.clearfix
						.inner
							h3.masthead-brand SAA
							ul.nav.masthead-nav
								li
									a(href='/') Sign In
								li.active
									a(href='/signup') Sign Up
								li
									a(href='/login') Admin
						.inner.cover

						.mastfoot
							.inner
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
		script(type='text/javascript', src='/javascripts/bootstrap.min.js')