extends admin

block entidad
		include layout2
		.row
			.col-sm-8
				input#search.form-control(type='search', value='', placeholder='Search')
		.container-fluid
			h3.sub-header Flights
			table.table.table-striped.table-bordered#table
				thead
					tr
						th Flights on the day
				tbody
					- for (var i = 0; i < data.length; i++)
							tr
								td #{data[i].A}
	