extends admin

block entidad
	- for(var i = 0;i < 3; i++){
		.panel.panel-default
			.panel-body
				.info
					h4.page-header 
						strong LAN 
					.code#menu(align='center')
						p.glyphicon.glyphicon-plane&nbsp; Flight Code: 
						br
						strong AA-123
					.place#menu(align='center')
						h4 SCL -> SAO
					.date(align='center')
						p 
						strong Departure Date: 
						br
						p 12 Mayo 2014
					.schedule
						table.table.table-hover
							form.form-horizontal(method='post', action='/programaVuelos')
							thead 
								tr
									th 
									th Departure time
									th Arrival time
							tbody
								tr
									td
										input(type='checkbox', name='mo',value='64')
									td
										p 21:00 hrs
									td
										p 10:00 hrs
								tr
									td
										input(type='checkbox', name='mo',value='64')
									td
										p 22:00 hrs
									td
										p 11:00 hrs
								tr
									td
										input(type='checkbox', name='mo',value='64')
									td
										p 23:00 hrs
									td
										p 12:00 hrs
				.comprar
					.panel.panel-default
						.panel-body(align='center')
							p Buy Precio por adulto
							p US$494
							p 1 Adulto US$494
							p Imp. y tasas US$69
							p Cargos US$60
							p Total US$623
							button.btn.btn-primary.btn-lg.btn-block Buy

								-}
