body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#menu {
  border-right: 1px solid #000;
  height: 100%;
  padding-right: 10px;
}
.code {
  width: 200px;
  height: auto;
  float: left;
}
.place {
  width: 200px;
  height: auto;
  float: left;
}
.info {
  width: 70%;
  height: auto;
  float: left;
}
.comprar {
  width: 30%;
  height: 100%;
  float: left;
  postion: relative;
  padding-top: 28px;
}
#panel {
  padding-left: 30px;
}
.autocomplete-suggestions {
  border: 1px solid #999;
  background: #fff;
  overflow: auto;
}
.autocomplete-suggestions strong {
  font-weight: normal;
  color: #39f;
}
.autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
}
.autocomplete-selected {
  background: #f0f0f0;
}
#fecha::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.info.page-header {
  float: left;
}
.register {
  z-index: 100;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -100px;
  width: 200px;
  height: 200px;
  background-color: fff;
  padding-top: 50px;
}
.navbar.navbar-default {
  background-color: #33373b;
}
.sidebar {
  background-color: #f1f1f1;
  width: 100px;
  padding-right: 20px;
}
.nav.nav-pills.nav-stacked a {
  margin-top: 8px;
  padding: 25px;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  align: center;
}
.iconTitle {
  text-align: center;
}
#airline {
  background-image: url("../images/plane.png");
}
#airports {
  background-image: url("../images/plane.png");
}
#airplaneType {
  background-image: url("../images/airplanetype.png");
}
#plane {
  background-image: url("../images/plane.png");
}
#scheduled {
  background-image: url("../images/scheduled.png");
}
#flights {
  background-image: url("../images/plane.png");
}
#passenger {
  background-image: url("../images/passenger.png");
}
#city {
  background-image: url("../images/city.png");
}
#country {
  background-image: url("../images/country.png");
}
#searchFlights {
  background-image: url("../images/search.png");
}
#gates {
  background-image: url("../images/plane.png");
}
.nav.nav-pills.nav-stacked p {
  text-align: center;
  margin-left: -10px;
}
#containerUser {
  margin-top: -50px;
}
#containerMenu {
  margin-left: 100px;
  margin-top: -60px;
}
#containerTitle {
  margin-left: -140px;
}
