body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#panel{
	padding-left: 35px;
}
#fecha::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
